/*the overall content will be controlled with the container class */

.container {
	margin: 0 auto;
}

/* row will be used as a flex container */
/* row contains several columns as described below */
.row {
	width: 100%;
	margin: 0 auto;
    display: flex; 
    /* border-style: dotted; */
    align:center;
}

/* used for full lines */
.col-full {
	width:100%;
}

/* used for columns taking half the horizontal space */
.col-half {
	width: 50%;
	margin:0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.col-third {
	width: 33.3%;
}

.col-two-thirds {
	width: 66.6%;
}

.icon {
	width: 70px;
	border-radius: 50%;
	padding: 10px 0px;
}

html, h1, h2, h3, h4, div {
	font-family: 'Overpass', sans-serif;
	color: #71757a;
}


.title {
	/*color: #2d3c49;*/
	color: #71757a;
	text-align:right;
	margin-bottom: 0px;
}

#ttitle {
	margin-bottom: 0px;
}

.main_image{
	max-width: 100%;
    height: auto;
   	margin:0 auto;
}

.project_image{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding:0px;
}

.project {
	text-align: center;
}

hr {
	border:0;
	height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h2:hover{
	background-color: lightblue;
}

.second-header {
	margin-bottom: 0px;
	color:#7d97ad;
}

.short {
	margin-top: 0px;
	margin-bottom: 0px;
}

.left {
	margin-left: 0px;
	padding-left: 0px;
	padding-right:10px;
}

.right {
	margin-right: 0px;
	padding-right: 0px;
	padding-left:10px;
}

.center {
	padding-left:5px;
	padding-right:5px;
}

@media (min-width: 926px) {
  .container{
  width: 900px;
  }
}

@media (max-width: 925px) {
  h1 {
    font-size: 1.5em;
  }
  .container{
  width: 100%;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.2em;
  	}

  h2{
    font-size: 1.1em;
   }

  .icon {
	width: 50px;
	border-radius: 50%;
	padding: 5px 0px;
	}
}

@media (max-width: 460px){
  
  	header {
  		flex-direction: column;
  	}

  	.title {
  		width:100%;
  		text-align: center;
  	}

  	.icon {
   		display: block;
   	 	margin-left: auto;
    	margin-right: auto;
 	}

 	.icon_place {
 		width: 100%;
 	}

 	.project {
 		flex-direction: column;
 	}
}